body{
    margin:0;
    padding:0;
    background-color:#f1f1f1;
  }
  .box{                        
    padding:20px;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top:25px;
  }
  @media (min-width: 1281px) {
    .box{            
      max-width:90%;
    }
  }
.has-error small{color:red;font-weight:normal;margin-left:5px;}
#jumbotron-index{margin-top:50px;background:#666;color:#eee;}